<nav>
  <a href="/movies">FFS-Home</a>
  <a href="/movies/new">Add a Movie</a>
  <form action="/movies/search" method="POST" id="search-form">
    <label for="searchbar">Search movies by title: </label><input type="search" name="searchString" id="searchbar" size="30">
  </form>
</nav>