<nav>
  <a href="/screenings">FFS Selections</a>
  <a href="/screenings/new">Add a Screening</a>
  <a href="/nominations">Nomination Archive</a>
  <a href="/nominations/new">Submit a Nomination</a>
  <a href="/movies">Movies Database</a>
  <a href="/movies/new">Add Movie to Database</a>
  <form action="/movies/search" method="POST" id="search-form">
    <label for="searchbar">Search selections by title: </label><input type="search" name="searchString" id="searchbar" size="30">
  </form>
</nav>