<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta content-type="text/javascript" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/icons/favicon_io/site.webmanifest">
<link rel="shortcut icon" href="/icons/favicon_io/favicon.ico" type="image/x-icon">
<title><%=tabTitle%></title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Rowdies:wght@300&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/app.css" />
<script
  src="https://kit.fontawesome.com/0e5cb02e42.js"
  crossorigin="anonymous"
></script>
