<% if (user) { %> 
  <h3>Hello, <%=user.username%>!</h3>
<% } else { %>
  <a href="/register">Register FFS Member Info</a>
  <a href="/login">Login Existing FFS Member</a>
<% } %>
<nav class="full-nav">
  <a class="screening-bgcolor data-link" href="/screenings">FFS Selections</a>
  <a class="screening-bgcolor data-link" href="/screenings/new">Add a Screening</a>
  <a class="nomination-bgcolor data-link" href="/nominations">Nomination Archive</a>
  <a class="nomination-bgcolor data-link" href="/nominations/new">Submit a Nomination</a>
  <a class="movie-bgcolor data-link" href="/movies">Movies Database</a>
  <a class="movie-bgcolor data-link" href="/movies/new">Add Movie to Database</a>
  <!-- <form action="/movies/search" method="POST" id="search-form">
    <label for="searchbar">Search selections by title: </label><input type="search" name="searchString" id="searchbar" size="30">
  </form> -->
</nav>
<button class="hamburger" type="button"><i class="fa-sharp fa-solid fa-bars"></i></button>
<nav class="mobile-nav">
  <a class="mobile-link mobile-screening-bgcolor data-link" href="/screenings">FFS Selections</a>
  <a class="mobile-link mobile-screening-bgcolor data-link" href="/screenings/new">Add a Screening</a>
  <a class="mobile-link mobile-nomination-bgcolor data-link" href="/nominations">Nomination Archive</a>
  <a class="mobile-link mobile-nomination-bgcolor data-link" href="/nominations/new">Submit a Nomination</a>
  <a class="mobile-link mobile-movie-bgcolor data-link" href="/movies">Movies Database</a>
  <a class="mobile-link mobile-movie-bgcolor data-link" href="/movies/new">Add Movie to Database</a>
  <a class="mobile-link mobile-staff-link data-link" href="/staff">FFS Staff</a>
</nav>
<a class="staff-link data-link" href="/staff">FFS Staff</a>