<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>
  <body>
    <header><%- include('../partials/header.ejs')%></header>
    <h1 class="page-title">Enter New Screening Info</h1>
    <form action="/screenings" method="POST" id="new-form">
      <table>
        <!-- possibly change the Date of Screening to be screening number? -->
        <tr>
          <td class="info-start-text">Date of Screening:</td>
          <td class="new-data-text">
            <input type="date" name="date" id="date" />
          </td>
        </tr>
        <!-- insert section for choosing the selected movie? -->
        <tr>
          <td class="info-start-text">Notes / Comments:</td>
          <td class="new-data-text">
            <textarea name="notes" rows="4" cols="50" placeholder="Anything noteworthy about the screening: Brain Trust-decreed themes, nomination trends, FFS developments"></textarea>
          </td>
        </tr>
      </table>
      <input
        type="submit"
        id="create-btn"
        value="Add new FFS Screening with this data"
      />
    </form>
  </body>
</html>
