<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <header><%- include('./partials/header.ejs') %></header>
    <h1>Login Failed</h1>
    <p class="red err-msg">An error occurred. Invalid user or Password is incorrect.</p>
    <a href="/login">Login</a>
</body>
<%- include('./partials/script.ejs') %>
</html>