<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <h1 class="page-title">FFS Maintenance</h1>
    <h2>The FFS website is currently undergoing maintenance. <br>
        The Shadowy Governing Brain Trust (Pat. Pending)(All Rights Reserved) is unsure when the site will be back online. <br>
        Please try visiting again later.</h2>
</body>
</html>