<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <h1 class="page-title">FFS Maintenance</h1>
    <h2>The FFS website is currently undergoing maintenance. The Shadowy Governing Brain Trust (Pat. Pending)(All Rights Reserved) is unsure when the site will be back online. Please try visiting again later.</h3>
</body>
</html>