<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs')%>
  </header>
  <h1 class="page-title">Enter New Movie</h1>
  <form action="/movies" method="POST" id="new-form">
    <table>
      <tr>
        <td class="info-start-text">Title: </td>
        <td class="new-data-text"><input type="text" name="title" placeholder="Movie title" size="50"></td>
      </tr>
      <tr>
        <td class="info-start-text">Date Screened: </td>
        <td class="new-data-text"><input type="text" name="dateScreened" placeholder="mm/dd/yy" size="10"></td>
      </tr>
      <tr>
        <td class="info-start-text">Release Year: </td>
        <td class="new-data-text"><input type="text" name="year" placeholder="Year" size="4"></td>
      </tr>
      <tr>
        <td class="info-start-text">Director: </td>
        <td class="new-data-text"><input type="text" name="director" placeholder="Director name" size="30"></td>
      </tr>
      <tr>
        <td class="info-start-text">Cast Members: </td>
        <td class="new-data-text"><textarea name="cast" rows=4 cols=50 placeholder="Cast members, comma separated"></textarea></td>
      </tr>
      <tr>
        <td class="info-start-text">Poster Image: </td>
        <td class="new-data-text"><input type="url" name="poster" placeholder="Paste poster image url here" size="80"></td>
      </tr>
    </table>
    <input type="submit" id="create-btn" value="Add new movie with this data">
  </form>
</body>
</html>