<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs')%>
  </header>
  <h1 class="page-title">Enter New Nomination</h1>
  <form action="/nominations" method="POST" id="new-form">
    <table>
      <tr>
        <td class="info-start-text">Title: </td>
        <td class="new-data-text"><input type="text" name="title" placeholder="Title of Nomination" size="50"></td>
      </tr>
      <tr>
        <td class="info-start-text">Nominating for the following Screening Date: </td>
        <td class="new-data-text"><input type="date" name="forWhatScreening"></td>
      </tr>
      <tr>
        <td class="info-start-text">Person Submitting Nomination: </td>
        <td class="new-data-text"><input type="text" name="submittedBy" placeholder="your name here" size="30"></td>
      </tr>
      <tr>
          <td class="info-start-text">Comments: </td>
          <td class="new-data-text"><textarea name="blurb" rows=4 cols=50 placeholder="(Optional) Why should we consider this nomination?"></textarea></td>
      </tr>
      <tr>
        <td class="info-start-text">Poster Image: </td>
        <td class="new-data-text"><input type="url" name="poster" placeholder="(Optional) Paste poster image url here" size="80"></td>
      </tr>
    </table>
    <input type="submit" id="create-btn" value="Add new nomination with this data">
  </form>
</body>
</html>