<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <header><%- include('./partials/header.ejs') %></header>
    <h1 class="page-title">Register</h1>
    <form action="/register" method="POST" id="registration-form">
        <div class="form-field">
            <label for="username"><span class="red">* </span>Desired Username: </label>
            <input type="text" id="username" name="username" required/>
        </div>
        <div class="form-field">
            <label for="password"><span class="red">* </span>Desired Password: </label>
            <input type="password" id="password" name="password" required/>
        </div>
        <div class="form-field">
            <label for="memberPW">Enter Zoom password (FFS Members only): </label>
            <input type="password" id="memberPW" name="memberPW" />
        </div>
        <hr>
        <p>Members have the ability to add, edit, and delete films and nomination info from the FFS database. Prospective members should contact an existing member and submit to invasive brain parasites to be applied with extreme prejudice by the Fortnightly Film Society's Shadowy Governing Brain Trust &trade; (Pat. Pending).</p>
        <hr>
        <button type="submit">Register New User</button>
    </form>

    <% if (errorMessage) { %>
        <hr>
        <p><%=errorMessage%></p>
    <% } %>
    <!-- <a href="/login">Login</a> -->
</body>
<%- include('./partials/script.ejs') %>
</html>