<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <header><%- include('./partials/header.ejs')%></header>
    <h1 class="page-title" id="home-title">
      Fortnightly Film Society Staff
    </h1>
    <h2 class="blurb">Your Crack Team of Brain Trust-appointed FFS Staff</h2>
    <div class="staff-container">
        <h3 class="staff-title">Head Mathematician, and the Fortnightly Film Society's Much-Vaunted All-Powerful Super-Computer (All Rights Reserved)</h3>
        <h4 class="staff-member">John Vennema</h4>
        <h3 class="staff-title">Public Relations Chair</h3>
        <h4 class="staff-member">Sujan Trivedi</h4>
        <h3 class="staff-title">The Burton Leon Reynolds Jr. Memorial Chair of Ethics and Procedure</h3>
        <h4 class="staff-member">Paul Ziemba</h4>
        <h3 class="staff-title">Minister Plenipotentiary of Cinepictorial & Photodramatic Archivism and also let's say Actionable Data-Driven Marketing & Business Development Insights!</h3>
        <h4 class="staff-member">Nathan Freeman</h4>
        <h3 class="staff-title">Chair of the Screenwriting Committee</h3>
        <h4 class="staff-member">Walter J. McMath</h4>
        <h3 class="staff-title">Chair of the Dubbing and Re-Dubbing Committee</h3>
        <h4 class="staff-member">Micah Baskir</h4>
        <h3 class="staff-title">Masterminds Mastermind, Mouthpiece of the Backup Shadowy Governing Brain Trust</h3>
        <h4 class="staff-member">Nigam Trivedi</h4>
        <h3 class="staff-title">Chair of the Committee for Doubling Down on Paul Verhoeven</h3>
        <h4 class="staff-member">Ben Beckley-Chayes</h4>
        <h3 class="staff-title">Chair of the Committee to Nominate Films Featuring Larry Miller</h3>
        <h4 class="staff-member">Jeffrey Kitrosser, aka Kitrossopher Jones</h4>
        <h3 class="staff-title">Member In Good Standing (MIGS), Winner of the "Ben Beckley Palme De Contraire", Chaos-Catalyst-At-Large (lifetime post)</h3>
        <h4 class="staff-member">Ben Beckley-Chayes</h4>
        <h3 class="staff-title">Edward James Olmos Director of Podcasting</h3>
        <h4 class="staff-member">Emilia Sotelo</h4>
        <h3 class="staff-title">Throbbing Mass of Wise and Powerful Gray Matter</h3>
        <h4 class="staff-member">Brain Trust</h4>
    </div>
  </body>
  <%- include('./partials/script.ejs') %>
</html>
