:root {
  --screening-bg: linear-gradient(35deg, rgba(192,192,192,0.2) 0%, green 50%, green 50%, rgba(192,192,192,0.2) 100%);
  --nomination-bg: linear-gradient(35deg, rgba(192,192,192,0.2) 0%, orange 50%, orange 50%, rgba(192,192,192,0.2) 100%);
  --movie-bg: linear-gradient(35deg, rgba(192,192,192,0.2) 0%, blue 50%, blue 50%, rgba(192,192,192,0.2) 100%);
  --table-row1: linear-gradient(35deg, rgba(192,192,192,0.2) 0%, lightgray 25%, lightgray 75%, rgba(192,192,192,0.2) 100%);
  --table-row2: linear-gradient(35deg, rgba(192,192,192, 1) 0%, #bbc 25%, #bbc 75%, rgba(192,192,192,1) 100%);
}

body {
  text-align: center;
  background: radial-gradient(lime, green, olive, lime, green, olive, lime, green, olive);
  min-height: 100vh;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-family: 'Rowdies', cursive;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 90%;
  margin: 1em auto;
}

.movies-container {
  gap: 1em;
}

.card-link {
  text-decoration: none;
  color: black;
  border-radius: 25px;
}

.card {
  border: 5px solid navy;
  border-radius: 25px;
  box-shadow: 2px 0 5px navy;
  width: 200px;
  margin: 0.5em auto;
  text-align: center;
  padding: 1em;
  background: linear-gradient(225deg, whitesmoke, silver, whitesmoke);
}

.movie-card {
  height: 360px;
  display: grid;
  place-items: center;
  gap: 0;
  padding: 0.25em;
  margin: 0;
}

.movie-card img {
  height: 250px;
}

.show-card {
  min-width: 50vw;
  max-width: 80vw;
}

.card img {
  object-fit: cover;
  max-width: 90%;
  max-height: 350px;
}

.card h3 {
  font-size: 1em;
  margin: 0.25em;
}

h1 {
  font-size: 1.5em;
}

.data-link {
  padding: 0.25em 0.5em;
  border-radius: 50px;
  box-shadow: 1px 1px 5px black;  
  color: whitesmoke;
  text-shadow: 1px 1px 5px black;
}

.data-span {
  border-radius: 50px;
}

.movie-data-title, .movie-data-link, .movie-data-span, .movie-bgcolor {
  background: var(--movie-bg);
}

.nomination-data-title, .nomination-data-link, .nomination-data-span, .nomination-bgcolor {
  background: var(--nomination-bg);
}

.screening-data-title, .screening-data-link, .screening-data-span, .screening-bgcolor {
  background: var(--screening-bg);
}

.data-title {
  width: 70%;
  margin: 0em auto;
  transform: skewX(-10deg) rotate(-5deg);
  text-shadow: 2px 2px 5px black;
}

.data-span, .data-title {
  text-shadow: 1px 1px 5px black;
  color: whitesmoke;
  font-size: 1em;
  padding: 0.25em 0.5em;
}

.blurb {
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(to top, aqua, aquamarine);
  width: 80vw;
  margin: 0 auto;
  padding: 1em;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Cabin', sans-serif;
}

h2 {
  border: 5px dotted goldenrod;
  border-radius: 25px;
  width: fit-content;
  margin: 1em auto;
  padding: 0.5em;
  background: radial-gradient(whitesmoke, orange);
  font-family: 'Raleway', sans-serif;
  font-size: 0.83em;
}

h3 {
  font-size: 0.75em;
}

h3 a {
  color: black;
  text-decoration: none;
}

button {
  font-size: 100%;
}

.edit-btn, .btn {
  font-size: 70%;
  padding: 0.5em;
  background: blue;
  color: white;
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
}

.show-form {
  text-align: center;
}

.delete-btn {
  background: linear-gradient(to top, red, coral, red);
  font-size: 0.5em;
  /* font-family: 'Cabin', sans-serif; */
}

ul {
  list-style-type: none;
  padding: 0;
}

label {
  font-size: 0.75em;
}

#sort-box {
  text-align: left;
  width: 80vw;
  margin: 0 auto;
}

table {
  background: var(--table-row2);
  text-align: left;
  /* max-width: 300px; */
  margin: 0 auto;
  border-collapse: collapse;
  padding: 1em;
}

thead {
  text-align: center;
}

th {
  background-color: var(--table-row2);
  padding-left: 0.25em;
}

td {
  padding: 0.25em 0.5em;
  /* border: 1px solid grey; */
  font-size: 0.5em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#nominations-list tr:nth-of-type(2n+1), .screenings-table tr:nth-of-type(2n+1) {
  background: var(--table-row1);
}

.non-mobile, .x-large {
  display: none;
  font-size: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.card .winning-nom-text {
  font-size: 0.67em;
}

.card .winner-text, .card .movie-title {
  font-size: 1em;
}

.screening-date, .selection-title {
  font-size: 0.67em;
  text-align: center;
  font-variant: small-caps;
}

.screening-date a, .selection-title a {
  text-decoration: none;
}

td img {
  max-height: 100px;
  max-width: 70px;
  object-fit: contain;
  object-position: center;
}

.info-start-text {
  text-align: left;
  padding-right: 0.5em;
}

.new-data-text {
  text-align: left;
}

.info-data-text {
  text-align: center;
}

.new-nomination-note {
  padding: 1em 25%;
  border-top: 1px dotted black;
}

/* .nomination-show-table .info-data-text {
  text-align: center;
} */

.nominator, .nominee {
  font-size: 0.83em;
}

.table-spacer {
  height: 0.25em;
}

.no-border {
  border: none;
}

.text-center {
  text-align: center;
}

ol {
  padding-left: 1em;
  margin: 0;
  list-style: none;
}

.screenings-table ol {
  padding-left: 1em;
}

#create-btn, .submit-btn {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  margin: 1em auto;
  background: lightgreen;
  transition: all .2s;
}

#create-btn:hover, .submit-btn:hover {
  background: green;
  transform: scale(1.2);
  color: white;
  box-shadow: -2px 2px 5px green;
}

#nominations-list {
  margin: 0.5em auto;
}

#nominations-list td {
  padding: 0.25em;
}

#nominations-list tr td:nth-of-type(3) {
  font-style: italic;
}

header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70vw;
  margin: 0 auto;
  padding: 1em;
  gap: 1em;
  background: linear-gradient(to top, gold, yellow, gold);
  background: goldenrod;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

nav a {
  font-family: 'Rowdies', cursive;
  font-size: 0.83em;
  text-decoration: none;
  color: black;
  transition: all .3s;
}

nav a:hover {
  transform: scale(1.1);
  /* color: blue; */
}
#search-form {
  flex-basis: 100%;
  text-align: center;
  font-size: 0.83em;
}
#new-form, #edit-form {
  margin: 1em auto;
}

.page-title {
  background-image: url(/img/film-negative-brown.jpeg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  color: white;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin: 1em auto;
  text-shadow: black 2px 2px 5px;
}

.red {
  color: red;
}

@media (min-width: 480px) {
  td img {
    max-height: 120px;
    max-width: 80px;
  }

  .screening-date, .selection-title {
    font-size: 0.83em;
  }

  .delete-btn {
    font-size: 0.67em;
  }

  .non-mobile {
    display: table-cell;
  }

  .x-large {
    display: none;
  }

  .genre-options {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    max-height: 200px;
  }

  .page-title {
    font-size: 1.25em;
  }
  
  .data-title {
    font-size: 1.25em;
    position: relative;
    z-index: 0;
  }
}

@media (min-width: 640px) {
  td img {
    max-height: 120px;
    max-width: 80px;
  }

  .screening-date, .selection-title {
    font-size: 1em;
  }

  .selection-title {
    max-width: 200px;
  }

  .delete-btn, .edit-btn {
    font-size: 0.83em;
  }

  .page-title {
    background-size: contain;
  }

  .page-title, .data-title {
    font-size: 1.5em;
  }

  .nominator, .nominee {
    font-size: 1em;
  }
}

@media (min-width: 840px) {
  header a, #search-form {
    font-size: 1em;
  }

  .page-title {
    font-size: 1.5em;
  }

  .data-title {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  .card h3, h3 {
    font-size: 1em;
  }

  .card .winning-nom-text {
    font-size: 0.75em;
  }

  td, label {
    font-size: 0.83em;
  }

  td img {
    max-height: 120px;
    max-width: 80px;
  }

  .screening-date, .selection-title {
    font-size: 2em;
  }

  .selection-title {
    max-width: 300px;
  }
}

@media (min-width: 1080px) {
  header a, #search-form {
    font-size: 1.25em;
  }

  .page-title {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  .card h3, h3 {
    font-size: 1.25em;;
  }

  .card .winning-nom-text {
    font-size: 0.9em;
  }

  td, label {
    font-size: 1em;
  }

  .nominator, .nominee {
    font-size: 1.25em;
  }
}